.cardImage {
  position: relative;
  z-index: 0;
  border-radius: inherit;
  height: 100%;

  &:hover {
    .cardImage-slider__nav {
      opacity: 1 !important;
    }

    .pagination__item {
      opacity: 1 !important;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: inherit;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  .cardImage-slider {
    .swiper-wrapper {
      position: relative;
      z-index: 0;
    }

    &__pagination {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      color: rgba(white, 0.7);

      &.-sm {
        bottom: 15px;
      }

      > * + * {
        margin-left: 7px;
      }

      .pagination__item {
        height: 8px;
        width: 8px;
        border-radius: 100%;
        background-color: currentColor;
        transition: all 0.3s $easeOutQuart;
        transform: scale(0.75);
        opacity: 0;

        &.is-active {
          transform: scale(1);
          background-color: var(--color-white);
          opacity: 1;
        }
      }
    }

    &__nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.2s $easeOutQuart;
      opacity: 0;
      z-index: 2;

      &.-prev {
        left: 20px;
      }
      &.-next {
        right: 20px;
      }
    }
  }

  &__wishlist {
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
    width: auto;
    height: auto;

    &.-sm {
      top: 10px;
      right: 10px;
    }
  }

  &__leftBadge {
    position: absolute;
    top: 15px;
    left: 0;
  }
}
.buttons {
  display: flex;
  width: 215px;
  gap: 10px;
  --b: 2px; /* the border thickness */
  --h: 2.8em; /* the height */
}

.buttons button {
  --_c: #f3f3f300;
  flex: calc(0.36 + var(--_s, 0));
  min-width: 0;
  font-size: 12px;
  font-weight: bold;
  height: var(--h);
  cursor: pointer;
  color: #fff;
  border: var(--b) solid #ffffff00;
  background: conic-gradient(
      at calc(100% - 0.5 * var(--b)) 0,
      var(--_c) 209deg,
      #0000 211deg
    )
    border-box;
  clip-path: polygon(0 0, 100% 0, calc(100% - 0.577 * var(--h)) 100%, 0 100%);
  padding: 0 calc(0.288 * var(--h)) 0 0;
  margin: 0 calc(-0.288 * var(--h)) 0 0;
  box-sizing: border-box;
  transition: flex 0.4s;
  white-space: nowrap; /* Prevent text from wrapping */
  // overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Display ellipsis (...) if the text overflows */
}
.buttons button + button {
  visibility: hidden;
  --_c: #ff003c;
  flex: calc(0.75 + var(--_s, 0));
  background: conic-gradient(
      from -90deg at calc(1.3 * var(--b)) 100%,
      var(--_c) 119deg,
      #0000 121deg
    )
    border-box;
  clip-path: polygon(calc(0.577 * var(--h)) 0, 100% 0, 100% 100%, 0 100%);
  margin: 0 0 0 calc(-0.288 * var(--h));
  padding: 0 0 0 calc(0.288 * var(--h));
}
.buttons button:focus-visible {
  outline-offset: calc(-2 * var(--b));
  outline: calc(var(--b) / 2) solid #000;
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons button:focus-visible + button {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons button:has(+ button:focus-visible) {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
button:hover,
button:active:not(:focus-visible) {
  --_s: 0.75;
}
button:active {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: #fff;
}

.buttons button span {
  display: block; /* Display the text as a block element */
  font-size: 6px;
  color: #fff;
  font-weight: 500;
}
.buttons-2 {
  display: flex;
  width: 215px;
  gap: 10px;
  --b: 2px; /* the border thickness */
  --h: 2.8em; /* the height */
}

.buttons-2 button {
  --_c: #f3f3f300;
  flex: calc(0.36 + var(--_s, 0));
  min-width: 0;
  font-size: 12px;
  font-weight: bold;
  height: var(--h);
  cursor: pointer;
  color: #fff;
  border: var(--b) solid #ffffff00;
  background: conic-gradient(
      at calc(100% - 0.5 * var(--b)) 0,
      var(--_c) 209deg,
      #0000 211deg
    )
    border-box;
  clip-path: polygon(0 0, 100% 0, calc(100% - 0.577 * var(--h)) 100%, 0 100%);
  padding: 0 calc(0.288 * var(--h)) 0 0;
  margin: 0 calc(-0.288 * var(--h)) 0 0;
  box-sizing: border-box;
  transition: flex 0.4s;
  white-space: nowrap; /* Prevent text from wrapping */
  // overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Display ellipsis (...) if the text overflows */
}
.buttons-2 button + button {
  visibility: hidden;
  --_c: #ff003c;
  flex: calc(0.75 + var(--_s, 0));
  background: conic-gradient(
      from -90deg at calc(1.3 * var(--b)) 100%,
      var(--_c) 119deg,
      #0000 121deg
    )
    border-box;
  clip-path: polygon(calc(0.577 * var(--h)) 0, 100% 0, 100% 100%, 0 100%);
  margin: 0 0 0 calc(-0.288 * var(--h));
  padding: 0 0 0 calc(0.288 * var(--h));
}
.buttons-2 button:focus-visible {
  outline-offset: calc(-2 * var(--b));
  outline: calc(var(--b) / 2) solid #000;
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons-2 button:focus-visible + button {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons-2 button:has(+ button:focus-visible) {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
button:hover,
button:active:not(:focus-visible) {
  --_s: 0.75;
}
button:active {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: #fff;
}

.buttons-2 button span {
  display: block; /* Display the text as a block element */
  font-size: 6px;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .cardImage {
    &__leftBadge {
      top: 8px;
    }
  }

  .buttons {
    display: flex;
    width: 250px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 3em; /* the height */
  }
  .buttons-2 {
    display: flex;
    width: 250px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 3.5em; /* the height */
  }
}
@media (max-width: 992px) {
  .cardImage {
    &__leftBadge {
      top: 10px;
    }
  }

  .buttons {
    display: flex;
    width: 250px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 3.4em; /* the height */
  }
  .buttons-2 {
    display: flex;
    width: 250px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 3.4em; /* the height */
  }
}
@media (max-width: 768px) {
  .cardImage {
    &__leftBadge {
      top: 10px;
    }
  }

  .buttons {
    display: flex;
    width: 250px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 3em; /* the height */
  }
  .buttons-2 {
    display: flex;
    width: 250px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 3em; /* the height */
  }
}
@media (max-width: 540px) {
  .cardImage-2 {
    &__leftBadge {
      top: 28px;
    }
  }

  .buttons-2 {
    display: flex;
    width: 380px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 4.7em; /* the height */
  }
}
@media (max-width: 520px) {
  .cardImage {
    &__leftBadge {
      top: 14px;
    }
  }

  .buttons {
    display: flex;
    width: 250px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 3.4em; /* the height */
  }
  .buttons-2 {
    display: flex;
    width: 310px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 4.1em; /* the height */
  }
}
@media (max-width: 344px) {
  .cardImage {
    &__leftBadge {
      top: 10px;
    }
  }

  .buttons {
    display: flex;
    width: 250px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 3.4em; /* the height */
  }
  .buttons-2 {
    display: flex;
    width: 250px;
    gap: 10px;
    --b: 2px; /* the border thickness */
    --h: 3.4em; /* the height */
  }
}
