.policyContainer {
  //   padding-top: 90px;
  padding-bottom: 20px;
  color: #000000;
}
.mb20 {
  margin-bottom: 20px;
}
.textJustify {
  text-align: justify;
  color: #000000;
}
.pt20 {
  padding-top: 20px;
}

.listStyle li {
  list-style: square;
}
.questionItem {
  list-style: inherit;
  margin: 4px 0px;
}
.questionItem a {
  font-size: 14px;
  color: black;
}
.answerContainer {
  margin-top: 30px;
}
